<div class="card">
  <slot/>
</div>

<style>
  .card {
    width: 80cqi;
    margin-inline: auto;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* Safari */
    border-radius: 16px;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    box-shadow:
      0 8px 32px rgba(0, 0, 0, 0.1),
      inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    padding: 2rem;
    color: white;
  }

  .card:not(:last-of-type) {
    margin-block-end: 2rem;
  }
</style>
