---
// src/components/SplitView.astro
---

<div class="split-container">
  <section class="pane content-pane">
    <div class="pane-content">
      <slot name="content"/>
    </div>
  </section>

  <section class="pane demo-pane">
    <div class="demo-stage">
      <slot name="demo"/>
    </div>
  </section>
</div>

<style>
  .split-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    padding: 2rem;
  }

  .pane {
    border-bottom: 1px solid #eee;
    container-type: inline-size;
  }

  @media (min-width: 900px) {
    .split-container {
      height: 100svh;
      grid-template-columns: 1fr 1fr;
      overflow: hidden;
    }

    .pane {
      overflow-y: auto;
      scrollbar-width: none;
      border-bottom: none;
    }

    .content-pane {
      border-right: 1px solid #afb0b1ae;
    }

    .demo-pane {
      display: grid;
      height: 100%;
      justify-content: center;
    }

    .pane-content {
      max-width: var(--max-text-length);
      margin: 0 auto;
    }
  }
</style>
