@import url("https://fonts.googleapis.com/css2?family=Galindo&family=Geist:wght@100..900&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Manrope:wght@200..800&display=swap");

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
}

:where(h1, h2, h3, h4) {
  font-family: "Google Sans Flex", sans-serif;
  letter-spacing: 0.5px;
  text-wrap: balance;
}

:where(h1, h2) {
  line-height: 1.2;
  margin-block: 0 0.625rem;
  letter-spacing: -0.25px;
}
:where(h3, h4) {
  line-height: 1.3;
  margin-block: 0 0.5rem;
}

:focus {
  outline: none;
}
:focus-visible {
  outline: 2px solid var(--display-value);
  outline-offset: 1px;
  border-radius: 3px;
}

code:not([class*="language-"]) {
  display: inline-block;
  background: hsl(0 0 25% / 0.5);
  padding: 2px;
  font-family: "Google Sans Code", monospace;
  font-size: 13px;
  margin-inline-end: 2px;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: "Google Sans Code", monospace;
  font-size: 0.875rem;
}

pre[class*="language-"] {
  margin-block: 0 0.5rem;
}

hr {
  display: block;
  border-color: rgba(255, 255, 255, 0.11);
  margin-block: 1.5rem;
}
