:root {
  --primary-theme: rgb(246 123 100 / 60%);

  --anchor: #fdbc5a;
  --target: #9180f6;
  --imcb: #f5d547;
  --display-value: #b49ef7;
  --form-control: color-mix(in srgb, var(--primary-theme) 75%, white 15%);

  --shade-light: #b5b5b5;
  --shade-primary: #999;
  --shade-dark: #333;
  --border-base: 1px solid var(--shade-light);
  --border-opaque: hsl(from var(--shade-light) h s l / 0.3);

  --ease-one: linear(
    0,
    0.2342,
    0.4374,
    0.6093 37.49%,
    0.6835,
    0.7499,
    0.8086,
    0.8593,
    0.9023,
    0.9375,
    0.9648,
    0.9844,
    0.9961,
    1
  );
  /* bounce */
  --ease-two: linear(
    0,
    0.2178 2.1%,
    1.1144 8.49%,
    1.2959 10.7%,
    1.3463 11.81%,
    1.3705 12.94%,
    1.3726,
    1.3643 14.48%,
    1.3151 16.2%,
    1.0317 21.81%,
    0.941 24.01%,
    0.8912 25.91%,
    0.8694 27.84%,
    0.8698 29.21%,
    0.8824 30.71%,
    1.0122 38.33%,
    1.0357,
    1.046 42.71%,
    1.0416 45.7%,
    0.9961 53.26%,
    0.9839 57.54%,
    0.9853 60.71%,
    1.0012 68.14%,
    1.0056 72.24%,
    0.9981 86.66%,
    1
  );
}

@keyframes fade-blur-in {
  to {
    opacity: 1;
    filter: blur(0);
  }
}
